/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/form/_all";
@import "bulma/sass/components/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/layout/_all";

.navbar {
    &.is-transparent {
        background-color: transparent;
        background-image: none;
    }
}

@include until($desktop) {
    .navbar-menu {
      display: block;
      opacity: 0;
  
      position: absolute;   /* or float: left; width: 100%;*/
      left: 0;
      right: 0;
  
      transform: translateY(-50%);
      transition: all .4s ease-in-out;
      pointer-events: none;
    }
  
    .navbar-menu.is-active {
      opacity: 1;
      transform: none;
      pointer-events: auto;
    }
}